<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hkbu.mapper.EmpMapper" >

   
  	<select id="getRoleList" parameterType="object"
  		 resultType="HashMap">
  		 
  		select r.code from role r, emp_role er where er.empUuid=#{uuid} and er.roleUuid=r.uuid
  	</select>
  	
  	
  	<select id="getEmpInfo"  resultType="HashMap">
  		 
  		select e.uuid, e.name, e.empNum, (select count(ss.empUuid) from s_order ss where ss.empUuid=e.uuid and ss.status=1) as count 
  		from emp e, emp_role er, role r
  		where e.uuid=er.empUuid and er.roleUuid=r.uuid and r.code='002' order by count asc
  	</select>
  	
  	
  	
</mapper>